<div class="searchCom">
  <div class="searchBar">
    <div class="searchForm">
      <i class="fa fa-search"></i>
      <input class="searchForm__searchInput" placeholder="SEARCH (Client Name / Policy Number) " type="text" ng-model="asc.searchKey" ng-change="asc.onKeyPress({searchKey: asc.searchKey})">
    </div>
  </div>
  <h2>AutoSuggest Component - Angular 1.6.1</h2>
  <div ng-if="asc.dataset.length" class="searchResultContainer">
    <ul class="searchResult">
      <li class="searchResult__list" ng-repeat="data in asc.dataset">
        <div class="row searchResult__row">
          <span class="name">{{data.name}}</span>
        </div>
        <div class="row searchResult__row">
          <!--<div class="cell row__cell">-->
            <span class="row__cell--phone"><i class="fa fa-phone"></i>{{data.phone}}</span>
            <span class="row__cell--email"><i class="fa fa-at"></i>{{data.email}}</span>
          <!--</div>-->
          <!--<div class="cell row__cell">-->
            <span class="row__cell--policy"><i class="fa fa-file-text"></i>Policy No. {{data.policy_no}} | {{data.policy_no}}</span>
          <!--</div>-->
        </div>


      </li>
    </ul>
  </div>

</div>